IMPORTAÇÃO DOS PACOTES

In [2]:
import pandas as pd
import numpy as np

In [2]:
# https://pandas.pydata.org/docs/index.html

IMPORTAÇÃO DOS DADOS

In [2]:
path = 'Bancos de Dados/'

In [3]:
#https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
#Importação do Arquivo
credito = pd.read_csv('Dados1 Credito.csv')
fraude = pd.read_csv('Dados2 Fraudes.csv')
trabalho = pd.read_csv('Dados5 DataJobs.csv')

In [5]:
#person_age (Idade da pessoa) – Indica a idade do solicitante do empréstimo.
#person_income (Renda anual) – Representa a renda anual do solicitante do empréstimo.
#person_home_ownership (Propriedade do imóvel) – Tipo de posse da residência do solicitante. Pode ser:
# * RENT (Alugado)
# * OWN (Próprio)
# * MORTGAGE (Financiado)
#person_emp_length (Tempo de emprego) – Número de anos que a pessoa está empregada.
#loan_intent (Finalidade do empréstimo) – O propósito do empréstimo solicitado. Exemplos incluem:
# * PERSONAL (Pessoal)
# * EDUCATION (Educação)
# * MEDICAL (Despesas médicas)
# * VENTURE (Investimentos)
# * DEBTCONSOLIDATION (Consolidação de dívidas)
# * HOMEIMPROVEMENT (Reforma da casa)
#loan_grade (Classificação do empréstimo) – Nota de risco do empréstimo, geralmente representada por letras (A a F), sendo A melhor e F pior.
#loan_amnt (Valor do empréstimo) – Montante total do empréstimo solicitado.
#loan_int_rate (Taxa de juros do empréstimo) – Taxa de juros aplicada ao empréstimo.
#loan_status (Status do empréstimo) – Indica se o empréstimo foi quitado ou entrou em inadimplência:
# * 0 (Não inadimplente)
# * 1 (Inadimplente)
#loan_percent_income (Percentual da renda comprometido) – Percentual da renda anual que o empréstimo representa.
#cb_person_default_on_file (Histórico de inadimplência) – Indica se o solicitante já teve inadimplência registrada anteriormente:
# * Y (Sim)
# * N (Não)
#cb_person_cred_hist_length (Tempo de histórico de crédito) – Número de anos de histórico de crédito do solicitante.

In [6]:
# DataFrames: são estruturas de dados bidimensionais, como uma planilha
# ou uma tabela SQL, que são fundamentais no trabalho com o Pandas. Eles
# nos permitem armazenar e manipular tabelas de dados com facilidade;

# Você pode realizar uma variedade de operações em DataFrames, como
# ordenação, subconjuntos, e criação de novas colunas. Isso oferece uma
# grande flexibilidade para preparar e analisar seus dados;

# Dominar DataFrames é essencial porque a maioria dos conjuntos de dados
# em análises reais é estruturada desta forma. Se você pode manipular
# DataFrames, você pode lidar com a maioria dos desafios de dados que
# encontrará.

print(type(credito))

<class 'pandas.core.frame.DataFrame'>

CARACTERÍSTICAS DOS DATAFRAMES

Utilizando como exemplo os dataframes importados, vamos analisar suas principais características com as seguintes funções e atributos:

.head()
.tail()
.info()
.shape
.describe()
.values
.columns

In [6]:
# .head()
# É usada para obter as primeiras N linhas de um DataFrame. Por padrão,
# ela retorna as primeiras 5 linhas. É uma maneira rápida de ter uma
# noção dos dados, incluindo o tipo de informação e os valores que você
# pode esperar

print(credito.head())

   person_age  person_income person_home_ownership  person_emp_length  \
0          22          59000                  RENT              123.0
1          21           9600                   OWN                5.0
2          25           9600              MORTGAGE                1.0
3          23          65500                  RENT                4.0
4          24          54400                  RENT                8.0

  loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0    PERSONAL          D      35000          16.02            1
1   EDUCATION          B       1000          11.14            0
2     MEDICAL          C       5500          12.87            1
3     MEDICAL          C      35000          15.23            1
4     MEDICAL          C      35000          14.27            1

   loan_percent_income cb_person_default_on_file  cb_person_cred_hist_length
0                 0.59                         Y                           3
1                 0.10                         N                           2
2                 0.57                         N                           3
3                 0.53                         N                           2
4                 0.55                         Y                           4

In [5]:
credito.head(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
6,26,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3
7,24,78956,RENT,5.0,MEDICAL,B,35000,11.11,1,0.44,N,4
8,24,83000,RENT,8.0,PERSONAL,A,35000,8.90,1,0.42,N,2
9,21,10000,OWN,6.0,VENTURE,D,1600,14.74,1,0.16,N,3

In [7]:
# tail()
# Similar à função .head(), mas para as últimas N linhas. Esta função é útil
# para verificar rapidamente os últimos dados inseridos ou para confirmar
# se os dados estão completos e não foram truncado

print(credito.tail())

       person_age  person_income person_home_ownership  person_emp_length  \
32576          57          53000              MORTGAGE                1.0
32577          54         120000              MORTGAGE                4.0
32578          65          76000                  RENT                3.0
32579          56         150000              MORTGAGE                5.0
32580          66          42000                  RENT                2.0

           loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32576         PERSONAL          C       5800          13.16            0
32577         PERSONAL          A      17625           7.49            0
32578  HOMEIMPROVEMENT          B      35000          10.99            1
32579         PERSONAL          B      15000          11.48            0
32580          MEDICAL          B       6475           9.99            0

       loan_percent_income cb_person_default_on_file  \
32576                 0.11                         N
32577                 0.15                         N
32578                 0.46                         N
32579                 0.10                         N
32580                 0.15                         N

       cb_person_cred_hist_length
32576                          30
32577                          19
32578                          28
32579                          26
32580                          30

In [8]:
print(credito.tail(7))

       person_age  person_income person_home_ownership  person_emp_length  \
32574          52          65004                  RENT                4.0
32575          52          64500                  RENT                0.0
32576          57          53000              MORTGAGE                1.0
32577          54         120000              MORTGAGE                4.0
32578          65          76000                  RENT                3.0
32579          56         150000              MORTGAGE                5.0
32580          66          42000                  RENT                2.0

           loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32574         PERSONAL          D      20000          15.58            1
32575        EDUCATION          B       5000          11.26            0
32576         PERSONAL          C       5800          13.16            0
32577         PERSONAL          A      17625           7.49            0
32578  HOMEIMPROVEMENT          B      35000          10.99            1
32579         PERSONAL          B      15000          11.48            0
32580          MEDICAL          B       6475           9.99            0

       loan_percent_income cb_person_default_on_file  \
32574                 0.31                         Y
32575                 0.08                         N
32576                 0.11                         N
32577                 0.15                         N
32578                 0.46                         N
32579                 0.10                         N
32580                 0.15                         N

       cb_person_cred_hist_length
32574                          19
32575                          20
32576                          30
32577                          19
32578                          28
32579                          26
32580                          30

In [11]:
# .info()
# Fornece um resumo conciso do DataFrame. Isso inclui o número de
# entradas, a quantidade de colunas, os tipos de dados de cada coluna, a
# quantidade de valores não nulos e o uso de memória.

print(credito.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB
None

In [12]:
# .shape
# Esta não é uma função, mas um atributo que retorna uma tupla
# representando a dimensionalidade do DataFrame, ou seja, o número de
# linhas e colunas. Isso é essencial para confirmar se a manipulação de
# dados, como merges ou joins, resultou no número esperado de linhas e
# colunas

print(credito.shape)

(32581, 12)

In [13]:
# .describe()
# Gera estatísticas descritivas que resumem a tendência central, dispersão
# e forma da distribuição de um dataset, excluindo valores NaN. Por
# padrão, fornece informações como contagem, média, desvio padrão,
# mínimo, quartis e máximo para colunas numéricas. É extremamente útil
# para uma análise exploratória inicial para entender melhor a
# distribuição dos dados numéricos.

print(credito.describe())

         person_age  person_income  person_emp_length     loan_amnt  \
count  32581.000000   3.258100e+04       31686.000000  32581.000000
mean      27.734600   6.607485e+04           4.789686   9589.371106
std        6.348078   6.198312e+04           4.142630   6322.086646
min       20.000000   4.000000e+03           0.000000    500.000000
25%       23.000000   3.850000e+04           2.000000   5000.000000
50%       26.000000   5.500000e+04           4.000000   8000.000000
75%       30.000000   7.920000e+04           7.000000  12200.000000
max      144.000000   6.000000e+06         123.000000  35000.000000

       loan_int_rate   loan_status  loan_percent_income  \
count   29465.000000  32581.000000         32581.000000
mean       11.011695      0.218164             0.170203
std         3.240459      0.413006             0.106782
min         5.420000      0.000000             0.000000
25%         7.900000      0.000000             0.090000
50%        10.990000      0.000000             0.150000
75%        13.470000      0.000000             0.230000
max        23.220000      1.000000             0.830000

       cb_person_cred_hist_length
count                32581.000000
mean                     5.804211
std                      4.055001
min                      2.000000
25%                      3.000000
50%                      4.000000
75%                      8.000000
max                     30.000000

In [14]:
# Pode ser transporta com um .T.

print(credito.describe().T)

                              count          mean           std      min  \
person_age                  32581.0     27.734600      6.348078    20.00
person_income               32581.0  66074.848470  61983.119168  4000.00
person_emp_length           31686.0      4.789686      4.142630     0.00
loan_amnt                   32581.0   9589.371106   6322.086646   500.00
loan_int_rate               29465.0     11.011695      3.240459     5.42
loan_status                 32581.0      0.218164      0.413006     0.00
loan_percent_income         32581.0      0.170203      0.106782     0.00
cb_person_cred_hist_length  32581.0      5.804211      4.055001     2.00

                                 25%       50%       75%         max
person_age                     23.00     26.00     30.00      144.00
person_income               38500.00  55000.00  79200.00  6000000.00
person_emp_length               2.00      4.00      7.00      123.00
loan_amnt                    5000.00   8000.00  12200.00    35000.00
loan_int_rate                   7.90     10.99     13.47       23.22
loan_status                     0.00      0.00      0.00        1.00
loan_percent_income             0.09      0.15      0.23        0.83
cb_person_cred_hist_length      3.00      4.00      8.00       30.00

ATRIBUTOS DOS DATAFRAMES

Análise dos principais atributos dos dataframes com as seguintes funções:

.values
.columns
.index

In [15]:
# .values
# Este atributo contém os dados dentro do DataFrame como um array
# NumPy. É útil quando você precisa dos dados brutos para operações ou
# algoritmos que operam diretamente em arrays NumPy. Por exemplo, ao
# passar os dados para um modelo de machine learning, muitas vezes
# você utilizará o atributo

print(credito.values)

[[22 59000 'RENT' ... 0.59 'Y' 3]
 [21 9600 'OWN' ... 0.1 'N' 2]
 [25 9600 'MORTGAGE' ... 0.57 'N' 3]
 ...
 [65 76000 'RENT' ... 0.46 'N' 28]
 [56 150000 'MORTGAGE' ... 0.1 'N' 26]
 [66 42000 'RENT' ... 0.15 'N' 30]]

In [9]:
# .columns
# Este atributo contém os rótulos das colunas do DataFrame. É essencial
# para entender as variáveis que você tem em seu conjunto de dados e
# para manipular colunas específicas. Por exemplo, você pode querer
# renomear colunas ou selecionar um subconjunto delas para análise.

print(credito.columns)

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [17]:
# .index
# Este atributo contém os rótulos das linhas. O índice pode ser uma
# simples sequência de números, mas também pode conter datas, strings,
# ou múltiplos níveis (em DataFrames hierárquicos). O índice é crítico para
# alinhar dados durante operações como junções, e também é útil para
# subconjunto de linhas baseadas em rótulos.

print(credito.index)

RangeIndex(start=0, stop=32581, step=1)

ORDENAÇÃO

Utilização da função sort_values e manipulação da ordenação através de vários outros argumentos

In [18]:
# .sort_values('col')
# Permite ordenar um DataFrame com base nos valores de uma ou mais
# colunas. A função ordenará o DataFrame com base nos valores da
# 'coluna' em ordem ascendente, que é o padrão;

print(credito.sort_values('person_age'))

       person_age  person_income person_home_ownership  person_emp_length  \
1313           20          64000                  RENT                3.0
12943          20          85920              MORTGAGE                3.0
14827          20         115731              MORTGAGE                4.0
15830          20         188004              MORTGAGE                4.0
11902          20          77052              MORTGAGE                4.0
...           ...            ...                   ...                ...
575           123          80004                  RENT                2.0
747           123          78000                  RENT                7.0
81            144         250000                  RENT                4.0
183           144         200000              MORTGAGE                4.0
32297         144        6000000              MORTGAGE               12.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
1313             VENTURE          D      16000          15.31            1
12943  DEBTCONSOLIDATION          A      12000           8.49            0
14827  DEBTCONSOLIDATION          B       9625          10.74            0
15830          EDUCATION          A       2000           8.59            0
11902          EDUCATION          B      24250          11.36            0
...                  ...        ...        ...            ...          ...
575            EDUCATION          B      20400          10.25            0
747              VENTURE          B      20000            NaN            0
81               VENTURE          C       4800          13.57            0
183            EDUCATION          B       6000          11.86            0
32297           PERSONAL          C       5000          12.73            0

       loan_percent_income cb_person_default_on_file  \
1313                  0.25                         Y
12943                 0.14                         N
14827                 0.08                         N
15830                 0.01                         N
11902                 0.31                         N
...                    ...                       ...
575                   0.25                         N
747                   0.26                         N
81                    0.02                         N
183                   0.03                         N
32297                 0.00                         N

       cb_person_cred_hist_length
1313                            4
12943                           2
14827                           3
15830                           4
11902                           2
...                           ...
575                             3
747                             4
81                              3
183                             2
32297                          25

[32581 rows x 12 columns]

In [19]:
print(credito['person_age'].sort_values())

1313      20
12943     20
14827     20
15830     20
11902     20
        ...
575      123
747      123
81       144
183      144
32297    144
Name: person_age, Length: 32581, dtype: int64

In [20]:
# É possível ordenar por mais de uma coluna. Isso é feito passando uma
# lista de nomes de colunas para .sort_values(). Por exemplo,
# df.sort_values(['coluna1', 'coluna2']) ordenará primeiro pela 'coluna1' e
# depois pela 'coluna2'.

print(credito.sort_values(['person_age', 'person_home_ownership']))

       person_age  person_income person_home_ownership  person_emp_length  \
3851           20          32652              MORTGAGE                0.0
9926           20          65000              MORTGAGE                4.0
11889          20          77000              MORTGAGE                4.0
11902          20          77052              MORTGAGE                4.0
12943          20          85920              MORTGAGE                3.0
...           ...            ...                   ...                ...
575           123          80004                  RENT                2.0
747           123          78000                  RENT                7.0
183           144         200000              MORTGAGE                4.0
32297         144        6000000              MORTGAGE               12.0
81            144         250000                  RENT                4.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
3851            PERSONAL          D       6000          14.61            1
9926           EDUCATION          B       4800           9.99            0
11889            VENTURE          A       6000           8.00            0
11902          EDUCATION          B      24250          11.36            0
12943  DEBTCONSOLIDATION          A      12000           8.49            0
...                  ...        ...        ...            ...          ...
575            EDUCATION          B      20400          10.25            0
747              VENTURE          B      20000            NaN            0
183            EDUCATION          B       6000          11.86            0
32297           PERSONAL          C       5000          12.73            0
81               VENTURE          C       4800          13.57            0

       loan_percent_income cb_person_default_on_file  \
3851                  0.18                         N
9926                  0.07                         N
11889                 0.08                         N
11902                 0.31                         N
12943                 0.14                         N
...                    ...                       ...
575                   0.25                         N
747                   0.26                         N
183                   0.03                         N
32297                 0.00                         N
81                    0.02                         N

       cb_person_cred_hist_length
3851                            4
9926                            2
11889                           2
11902                           2
12943                           2
...                           ...
575                             3
747                             4
183                             2
32297                          25
81                              3

[32581 rows x 12 columns]

In [21]:
# • .sort_values('col', ascending=False)
# Você pode ordenar os dados em ordem decrescente passando o
# argumento ascending=False;

print(credito.sort_values('person_age', ascending=False))

       person_age  person_income person_home_ownership  person_emp_length  \
81            144         250000                  RENT                4.0
32297         144        6000000              MORTGAGE               12.0
183           144         200000              MORTGAGE                4.0
747           123          78000                  RENT                7.0
575           123          80004                  RENT                2.0
...           ...            ...                   ...                ...
7327           20          42000                  RENT                4.0
16339          20         188004              MORTGAGE                4.0
9926           20          65000              MORTGAGE                4.0
12943          20          85920              MORTGAGE                3.0
1313           20          64000                  RENT                3.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
81               VENTURE          C       4800          13.57            0
32297           PERSONAL          C       5000          12.73            0
183            EDUCATION          B       6000          11.86            0
747              VENTURE          B      20000            NaN            0
575            EDUCATION          B      20400          10.25            0
...                  ...        ...        ...            ...          ...
7327             VENTURE          B       6500          11.71            0
16339           PERSONAL          A       2000           8.59            0
9926           EDUCATION          B       4800           9.99            0
12943  DEBTCONSOLIDATION          A      12000           8.49            0
1313             VENTURE          D      16000          15.31            1

       loan_percent_income cb_person_default_on_file  \
81                    0.02                         N
32297                 0.00                         N
183                   0.03                         N
747                   0.26                         N
575                   0.25                         N
...                    ...                       ...
7327                  0.15                         N
16339                 0.01                         N
9926                  0.07                         N
12943                 0.14                         N
1313                  0.25                         Y

       cb_person_cred_hist_length
81                              3
32297                          25
183                             2
747                             4
575                             3
...                           ...
7327                            2
16339                           2
9926                            2
12943                           2
1313                            4

[32581 rows x 12 columns]

In [22]:
# Ao ordenar por múltiplas colunas, você pode especificar uma ordem de
# classificação diferente para cada coluna usando uma lista de booleanos
# no argumento ascending. Por exemplo, df.sort_values(['coluna1',
# 'coluna2'], ascending=[True, False]) ordenará 'coluna1' em ordem
# ascendente e 'coluna2' em ordem decrescente.

print(credito.sort_values(['person_age', 'person_home_ownership'], ascending=[False,True]))

       person_age  person_income person_home_ownership  person_emp_length  \
183           144         200000              MORTGAGE                4.0
32297         144        6000000              MORTGAGE               12.0
81            144         250000                  RENT                4.0
575           123          80004                  RENT                2.0
747           123          78000                  RENT                7.0
...           ...            ...                   ...                ...
17196          20          65000              MORTGAGE                4.0
1313           20          64000                  RENT                3.0
5648           20          94000                  RENT                4.0
7327           20          42000                  RENT                4.0
7748           20          34800                  RENT                3.0

      loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
183     EDUCATION          B       6000          11.86            0
32297    PERSONAL          C       5000          12.73            0
81        VENTURE          C       4800          13.57            0
575     EDUCATION          B      20400          10.25            0
747       VENTURE          B      20000            NaN            0
...           ...        ...        ...            ...          ...
17196     VENTURE          B       4800           9.99            0
1313      VENTURE          D      16000          15.31            1
5648    EDUCATION          D       5000          16.02            0
7327      VENTURE          B       6500          11.71            0
7748      MEDICAL          C       7000          13.61            0

       loan_percent_income cb_person_default_on_file  \
183                   0.03                         N
32297                 0.00                         N
81                    0.02                         N
575                   0.25                         N
747                   0.26                         N
...                    ...                       ...
17196                 0.07                         N
1313                  0.25                         Y
5648                  0.05                         N
7327                  0.15                         N
7748                  0.20                         Y

       cb_person_cred_hist_length
183                             2
32297                          25
81                              3
575                             3
747                             4
...                           ...
17196                           4
1313                            4
5648                            3
7327                            2
7748                            2

[32581 rows x 12 columns]

In [23]:
print(credito.sort_values(['person_age', 'person_home_ownership'], ascending=[False,False]))

       person_age  person_income person_home_ownership  person_emp_length  \
81            144         250000                  RENT                4.0
183           144         200000              MORTGAGE                4.0
32297         144        6000000              MORTGAGE               12.0
575           123          80004                  RENT                2.0
747           123          78000                  RENT                7.0
...           ...            ...                   ...                ...
14827          20         115731              MORTGAGE                4.0
15417          20         135000              MORTGAGE                1.0
15830          20         188004              MORTGAGE                4.0
16339          20         188004              MORTGAGE                4.0
17196          20          65000              MORTGAGE                4.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
81               VENTURE          C       4800          13.57            0
183            EDUCATION          B       6000          11.86            0
32297           PERSONAL          C       5000          12.73            0
575            EDUCATION          B      20400          10.25            0
747              VENTURE          B      20000            NaN            0
...                  ...        ...        ...            ...          ...
14827  DEBTCONSOLIDATION          B       9625          10.74            0
15417            VENTURE          C      15000          15.96            0
15830          EDUCATION          A       2000           8.59            0
16339           PERSONAL          A       2000           8.59            0
17196            VENTURE          B       4800           9.99            0

       loan_percent_income cb_person_default_on_file  \
81                    0.02                         N
183                   0.03                         N
32297                 0.00                         N
575                   0.25                         N
747                   0.26                         N
...                    ...                       ...
14827                 0.08                         N
15417                 0.11                         Y
15830                 0.01                         N
16339                 0.01                         N
17196                 0.07                         N

       cb_person_cred_hist_length
81                              3
183                             2
32297                          25
575                             3
747                             4
...                           ...
14827                           3
15417                           2
15830                           4
16339                           2
17196                           4

[32581 rows x 12 columns]

In [24]:
# Posso manter o dataframe original ordenado ao criar
# um novo dataframe com o mesmo nome ordenando as variáveis

credito = credito.sort_values('person_age').copy()

# A função .copy() é importante ao criar novos DataFrames no
# pandas para evitar modificações não intencionais nos dados
# originais. Isso ocorre porque, por padrão, quando você atribui
# um DataFrame a uma nova variável, o pandas não cria uma cópia
# real dos dados, mas sim uma referência ao mesmo objeto na memória.

In [25]:
# Ao reordenar meu dataframe, o índice muda de acordo com a ordenação

print(credito)

       person_age  person_income person_home_ownership  person_emp_length  \
1313           20          64000                  RENT                3.0
12943          20          85920              MORTGAGE                3.0
14827          20         115731              MORTGAGE                4.0
15830          20         188004              MORTGAGE                4.0
11902          20          77052              MORTGAGE                4.0
...           ...            ...                   ...                ...
575           123          80004                  RENT                2.0
747           123          78000                  RENT                7.0
81            144         250000                  RENT                4.0
183           144         200000              MORTGAGE                4.0
32297         144        6000000              MORTGAGE               12.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
1313             VENTURE          D      16000          15.31            1
12943  DEBTCONSOLIDATION          A      12000           8.49            0
14827  DEBTCONSOLIDATION          B       9625          10.74            0
15830          EDUCATION          A       2000           8.59            0
11902          EDUCATION          B      24250          11.36            0
...                  ...        ...        ...            ...          ...
575            EDUCATION          B      20400          10.25            0
747              VENTURE          B      20000            NaN            0
81               VENTURE          C       4800          13.57            0
183            EDUCATION          B       6000          11.86            0
32297           PERSONAL          C       5000          12.73            0

       loan_percent_income cb_person_default_on_file  \
1313                  0.25                         Y
12943                 0.14                         N
14827                 0.08                         N
15830                 0.01                         N
11902                 0.31                         N
...                    ...                       ...
575                   0.25                         N
747                   0.26                         N
81                    0.02                         N
183                   0.03                         N
32297                 0.00                         N

       cb_person_cred_hist_length
1313                            4
12943                           2
14827                           3
15830                           4
11902                           2
...                           ...
575                             3
747                             4
81                              3
183                             2
32297                          25

[32581 rows x 12 columns]

In [26]:
# Para reordenar um DataFrame pelo índice no pandas, utilize o método .sort_index().

print(credito.sort_index())

       person_age  person_income person_home_ownership  person_emp_length  \
0              22          59000                  RENT              123.0
1              21           9600                   OWN                5.0
2              25           9600              MORTGAGE                1.0
3              23          65500                  RENT                4.0
4              24          54400                  RENT                8.0
...           ...            ...                   ...                ...
32576          57          53000              MORTGAGE                1.0
32577          54         120000              MORTGAGE                4.0
32578          65          76000                  RENT                3.0
32579          56         150000              MORTGAGE                5.0
32580          66          42000                  RENT                2.0

           loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0             PERSONAL          D      35000          16.02            1
1            EDUCATION          B       1000          11.14            0
2              MEDICAL          C       5500          12.87            1
3              MEDICAL          C      35000          15.23            1
4              MEDICAL          C      35000          14.27            1
...                ...        ...        ...            ...          ...
32576         PERSONAL          C       5800          13.16            0
32577         PERSONAL          A      17625           7.49            0
32578  HOMEIMPROVEMENT          B      35000          10.99            1
32579         PERSONAL          B      15000          11.48            0
32580          MEDICAL          B       6475           9.99            0

       loan_percent_income cb_person_default_on_file  \
0                     0.59                         Y
1                     0.10                         N
2                     0.57                         N
3                     0.53                         N
4                     0.55                         Y
...                    ...                       ...
32576                 0.11                         N
32577                 0.15                         N
32578                 0.46                         N
32579                 0.10                         N
32580                 0.15                         N

       cb_person_cred_hist_length
0                               3
1                               2
2                               3
3                               2
4                               4
...                           ...
32576                          30
32577                          19
32578                          28
32579                          26
32580                          30

[32581 rows x 12 columns]

In [27]:
# Para que o índice fique realinhado deve ser utilizada
# a função reset_index(), com drop=True, para que o índice
# não se transforme em uma nova coluna

credito = credito.reset_index(drop=True)

print(credito)

       person_age  person_income person_home_ownership  person_emp_length  \
0              20          64000                  RENT                3.0
1              20          85920              MORTGAGE                3.0
2              20         115731              MORTGAGE                4.0
3              20         188004              MORTGAGE                4.0
4              20          77052              MORTGAGE                4.0
...           ...            ...                   ...                ...
32576         123          80004                  RENT                2.0
32577         123          78000                  RENT                7.0
32578         144         250000                  RENT                4.0
32579         144         200000              MORTGAGE                4.0
32580         144        6000000              MORTGAGE               12.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0                VENTURE          D      16000          15.31            1
1      DEBTCONSOLIDATION          A      12000           8.49            0
2      DEBTCONSOLIDATION          B       9625          10.74            0
3              EDUCATION          A       2000           8.59            0
4              EDUCATION          B      24250          11.36            0
...                  ...        ...        ...            ...          ...
32576          EDUCATION          B      20400          10.25            0
32577            VENTURE          B      20000            NaN            0
32578            VENTURE          C       4800          13.57            0
32579          EDUCATION          B       6000          11.86            0
32580           PERSONAL          C       5000          12.73            0

       loan_percent_income cb_person_default_on_file  \
0                     0.25                         Y
1                     0.14                         N
2                     0.08                         N
3                     0.01                         N
4                     0.31                         N
...                    ...                       ...
32576                 0.25                         N
32577                 0.26                         N
32578                 0.02                         N
32579                 0.03                         N
32580                 0.00                         N

       cb_person_cred_hist_length
0                               4
1                               2
2                               3
3                               4
4                               2
...                           ...
32576                           3
32577                           4
32578                           3
32579                           2
32580                          25

[32581 rows x 12 columns]

SELEÇÃO DE SUBCONJUNTOS

Utilização de técnicas de seleção de subconjuntos através de filtragens por valores, por datas e por nomes nas células. Adicionalmente, verificou-se a utilização da função .isin()

In [28]:
# df['col']
# Esta sintaxe é utilizada para selecionar uma coluna específica e retorna
# uma Series;

print(credito['loan_int_rate'])

0        15.31
1         8.49
2        10.74
3         8.59
4        11.36
         ...
32576    10.25
32577      NaN
32578    13.57
32579    11.86
32580    12.73
Name: loan_int_rate, Length: 32581, dtype: float64

In [29]:
# Matriz unidimensional (ndarray) com rótulos de eixo (incluindo séries temporais).

print(type(credito['loan_int_rate']))

<class 'pandas.core.series.Series'>

In [30]:
# Posso criar uma variável apenas com a coluna desejada,
# gerando uma série do Pandas

default = credito['loan_status'].copy()

print(type(default))

print(default)

<class 'pandas.core.series.Series'>
0        1
1        0
2        0
3        0
4        0
        ..
32576    0
32577    0
32578    0
32579    0
32580    0
Name: loan_status, Length: 32581, dtype: int64

In [31]:
# df[['col1', 'col2']]
# Esta sintaxe é utilizada para selecionar uma coluna específica e retorna
# um novo DataFrame;

# A seleção de colunas em um DataFrame do pandas utilizando [[ ]]
# é uma maneira específica de filtrar múltiplas colunas e retornar um novo DataFrame.

print(credito[['loan_int_rate','loan_status']])

       loan_int_rate  loan_status
0              15.31            1
1               8.49            0
2              10.74            0
3               8.59            0
4              11.36            0
...              ...          ...
32576          10.25            0
32577            NaN            0
32578          13.57            0
32579          11.86            0
32580          12.73            0

[32581 rows x 2 columns]

In [32]:
# df[df['col'] > valor]
# Esta sintaxe é utilizada para selecionar linhas com base em uma
# condição e retorna um DataFrame com linhas que atendem à condição;

print(credito[credito['person_age']>50])

       person_age  person_income person_home_ownership  person_emp_length  \
32293          51          45000                  RENT                1.0
32294          51          60000              MORTGAGE                1.0
32295          51          80000                  RENT                3.0
32296          51          60000              MORTGAGE                8.0
32297          51          52250                  RENT                4.0
...           ...            ...                   ...                ...
32576         123          80004                  RENT                2.0
32577         123          78000                  RENT                7.0
32578         144         250000                  RENT                4.0
32579         144         200000              MORTGAGE                4.0
32580         144        6000000              MORTGAGE               12.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32293  DEBTCONSOLIDATION          A      16000           7.90            1
32294           PERSONAL          A       7500            NaN            0
32295            VENTURE          F      18000          18.78            0
32296           PERSONAL          C       8000          13.48            0
32297            VENTURE          C       9200          13.61            0
...                  ...        ...        ...            ...          ...
32576          EDUCATION          B      20400          10.25            0
32577            VENTURE          B      20000            NaN            0
32578            VENTURE          C       4800          13.57            0
32579          EDUCATION          B       6000          11.86            0
32580           PERSONAL          C       5000          12.73            0

       loan_percent_income cb_person_default_on_file  \
32293                 0.36                         N
32294                 0.13                         N
32295                 0.23                         N
32296                 0.13                         Y
32297                 0.18                         N
...                    ...                       ...
32576                 0.25                         N
32577                 0.26                         N
32578                 0.02                         N
32579                 0.03                         N
32580                 0.00                         N

       cb_person_cred_hist_length
32293                          19
32294                          24
32295                          19
32296                          23
32297                          24
...                           ...
32576                           3
32577                           4
32578                           3
32579                           2
32580                          25

[288 rows x 12 columns]

In [33]:
# Posso criar novos dataframes com linhas que
# correspondem apenas aos meus filtros

credito_over_50 = credito[credito['person_age']>50].copy()
print(credito_over_50)

       person_age  person_income person_home_ownership  person_emp_length  \
32293          51          45000                  RENT                1.0
32294          51          60000              MORTGAGE                1.0
32295          51          80000                  RENT                3.0
32296          51          60000              MORTGAGE                8.0
32297          51          52250                  RENT                4.0
...           ...            ...                   ...                ...
32576         123          80004                  RENT                2.0
32577         123          78000                  RENT                7.0
32578         144         250000                  RENT                4.0
32579         144         200000              MORTGAGE                4.0
32580         144        6000000              MORTGAGE               12.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32293  DEBTCONSOLIDATION          A      16000           7.90            1
32294           PERSONAL          A       7500            NaN            0
32295            VENTURE          F      18000          18.78            0
32296           PERSONAL          C       8000          13.48            0
32297            VENTURE          C       9200          13.61            0
...                  ...        ...        ...            ...          ...
32576          EDUCATION          B      20400          10.25            0
32577            VENTURE          B      20000            NaN            0
32578            VENTURE          C       4800          13.57            0
32579          EDUCATION          B       6000          11.86            0
32580           PERSONAL          C       5000          12.73            0

       loan_percent_income cb_person_default_on_file  \
32293                 0.36                         N
32294                 0.13                         N
32295                 0.23                         N
32296                 0.13                         Y
32297                 0.18                         N
...                    ...                       ...
32576                 0.25                         N
32577                 0.26                         N
32578                 0.02                         N
32579                 0.03                         N
32580                 0.00                         N

       cb_person_cred_hist_length
32293                          19
32294                          24
32295                          19
32296                          23
32297                          24
...                           ...
32576                           3
32577                           4
32578                           3
32579                           2
32580                          25

[288 rows x 12 columns]

In [34]:
# Posso também selecionar apenas colunas específicas que vou utilizar
# no meu novo dataframe

credito_over_50 = credito_over_50[['person_age', 'person_income',
                                   'loan_intent','loan_status']].copy()

# ou

credito_over_50 = credito[credito['person_age']>50][['person_age',
                                                     'person_income',
                                                     'loan_intent','loan_status']].copy()
print(credito_over_50)

       person_age  person_income        loan_intent  loan_status
32293          51          45000  DEBTCONSOLIDATION            1
32294          51          60000           PERSONAL            0
32295          51          80000            VENTURE            0
32296          51          60000           PERSONAL            0
32297          51          52250            VENTURE            0
...           ...            ...                ...          ...
32576         123          80004          EDUCATION            0
32577         123          78000            VENTURE            0
32578         144         250000            VENTURE            0
32579         144         200000          EDUCATION            0
32580         144        6000000           PERSONAL            0

[288 rows x 4 columns]

In [35]:
print(credito[credito['person_age']>50]['loan_status'])

32293    1
32294    0
32295    0
32296    0
32297    0
        ..
32576    0
32577    0
32578    0
32579    0
32580    0
Name: loan_status, Length: 288, dtype: int64

In [36]:
print(credito[credito['person_age']>50][['person_age','loan_status']])

       person_age  loan_status
32293          51            1
32294          51            0
32295          51            0
32296          51            0
32297          51            0
...           ...          ...
32576         123            0
32577         123            0
32578         144            0
32579         144            0
32580         144            0

[288 rows x 2 columns]

In [37]:
print(credito[credito['person_age']==22][['person_age','loan_status']])

      person_age  loan_status
1244          22            0
1245          22            1
1246          22            1
1247          22            1
1248          22            0
...          ...          ...
4872          22            0
4873          22            0
4874          22            0
4875          22            0
4876          22            0

[3633 rows x 2 columns]

In [38]:
print(credito[credito['person_age']<=25][['person_age','loan_status']])

       person_age  loan_status
0              20            1
1              20            0
2              20            0
3              20            0
4              20            0
...           ...          ...
15347          25            0
15348          25            0
15349          25            0
15350          25            0
15351          25            0

[15352 rows x 2 columns]

In [39]:
# df[df['col'] == 'texto']
# Esta sintaxe é utilizada para filtrar linhas que tenham uma
# correspondência exata de texto em uma coluna.

print(credito[credito['loan_intent']=='EDUCATION'])

       person_age  person_income person_home_ownership  person_emp_length  \
3              20         188004              MORTGAGE                4.0
4              20          77052              MORTGAGE                4.0
9              20          98000              MORTGAGE                4.0
13             20          65000              MORTGAGE                4.0
14             20          94000                  RENT                4.0
...           ...            ...                   ...                ...
32543          65          57996                  RENT                4.0
32545          65          76000                  RENT                3.0
32554          66          40000                  RENT                2.0
32576         123          80004                  RENT                2.0
32579         144         200000              MORTGAGE                4.0

      loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
3       EDUCATION          A       2000           8.59            0
4       EDUCATION          B      24250          11.36            0
9       EDUCATION          D      24250            NaN            0
13      EDUCATION          B       4800           9.99            0
14      EDUCATION          D       5000          16.02            0
...           ...        ...        ...            ...          ...
32543   EDUCATION          D       3000            NaN            0
32545   EDUCATION          B      35000          10.99            1
32554   EDUCATION          E       7000          15.68            1
32576   EDUCATION          B      20400          10.25            0
32579   EDUCATION          B       6000          11.86            0

       loan_percent_income cb_person_default_on_file  \
3                     0.01                         N
4                     0.31                         N
9                     0.25                         N
13                    0.07                         N
14                    0.05                         N
...                    ...                       ...
32543                 0.05                         N
32545                 0.46                         N
32554                 0.17                         Y
32576                 0.25                         N
32579                 0.03                         N

       cb_person_cred_hist_length
3                               4
4                               2
9                               4
13                              2
14                              3
...                           ...
32543                          27
32545                          27
32554                          29
32576                           3
32579                           2

[6453 rows x 12 columns]

In [40]:
print(credito[credito['loan_intent']=='EDUCATION'][['person_age', 'person_income', 'loan_intent']])

       person_age  person_income loan_intent
3              20         188004   EDUCATION
4              20          77052   EDUCATION
9              20          98000   EDUCATION
13             20          65000   EDUCATION
14             20          94000   EDUCATION
...           ...            ...         ...
32543          65          57996   EDUCATION
32545          65          76000   EDUCATION
32554          66          40000   EDUCATION
32576         123          80004   EDUCATION
32579         144         200000   EDUCATION

[6453 rows x 3 columns]

In [41]:
# df[(df['col1'] == valor1) & (df['col2'] < valor2)]
#  A combinação de condições lógicas pode ser utilizada para filtrar linhas;

print(credito[(credito['loan_intent']=='EDUCATION')
              & (credito['person_age']>=59)])

       person_age  person_income person_home_ownership  person_emp_length  \
32520          62          66000                  RENT                2.0
32524          62          76500                  RENT                0.0
32527          63        1782000                  RENT               13.0
32541          65          45900                  RENT                2.0
32543          65          57996                  RENT                4.0
32545          65          76000                  RENT                3.0
32554          66          40000                  RENT                2.0
32576         123          80004                  RENT                2.0
32579         144         200000              MORTGAGE                4.0

      loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32520   EDUCATION          B       6000            NaN            0
32524   EDUCATION          D      20000          16.77            1
32527   EDUCATION          C      12025          14.27            0
32541   EDUCATION          C      10000            NaN            0
32543   EDUCATION          D       3000            NaN            0
32545   EDUCATION          B      35000          10.99            1
32554   EDUCATION          E       7000          15.68            1
32576   EDUCATION          B      20400          10.25            0
32579   EDUCATION          B       6000          11.86            0

       loan_percent_income cb_person_default_on_file  \
32520                 0.09                         N
32524                 0.26                         Y
32527                 0.01                         N
32541                 0.22                         Y
32543                 0.05                         N
32545                 0.46                         N
32554                 0.17                         Y
32576                 0.25                         N
32579                 0.03                         N

       cb_person_cred_hist_length
32520                          23
32524                          29
32527                          30
32541                          19
32543                          27
32545                          27
32554                          29
32576                           3
32579                           2

In [42]:
# Posso criar um dataframe com os valores extremos
# (menores que 7 ou maiores que 17) 
# das taxas de juros para estudo posterior

credito_taxas = credito[(credito['loan_int_rate']<=7) |
                        (credito['loan_int_rate']>=17)]
print(credito_taxas.shape)
print(credito_taxas[['loan_int_rate','loan_status', 'person_age']])

(4582, 12)
       loan_int_rate  loan_status  person_age
16             18.25            1          21
22              5.42            0          21
25              5.42            0          21
29              5.99            0          21
39              6.17            1          21
...              ...          ...         ...
32550           5.42            0          66
32556           6.62            0          69
32560           6.62            0          69
32562          17.49            1          70
32565           6.99            1          70

[4582 rows x 3 columns]

In [43]:
# Se as condições não forem atendidas, o print retorna um dataframe vazio

print(credito[(credito['loan_intent']=='EDUCATION')
              & credito['person_age']==65])

Empty DataFrame
Columns: [person_age, person_income, person_home_ownership, person_emp_length, loan_intent, loan_grade, loan_amnt, loan_int_rate, loan_status, loan_percent_income, cb_person_default_on_file, cb_person_cred_hist_length]
Index: []

In [44]:
print(credito[(credito['loan_intent']=='EDUCATION')
              & (credito['person_age']>=59)][['loan_intent', 'person_age', 'loan_status']])

      loan_intent  person_age  loan_status
32520   EDUCATION          62            0
32524   EDUCATION          62            1
32527   EDUCATION          63            0
32541   EDUCATION          65            0
32543   EDUCATION          65            0
32545   EDUCATION          65            1
32554   EDUCATION          66            1
32576   EDUCATION         123            0
32579   EDUCATION         144            0

In [45]:
# df[(df['col1'] == valor1) | (df['col2'] < valor2)]
# | é o operador "ou" e seleciona as linhas onde pelo menos uma das
# condições anteriores é verdadeira;

print(credito[(credito['loan_intent']=='EDUCATION')
              | (credito['person_age']>=59)][['loan_intent', 'person_age', 'loan_status']])

      loan_intent  person_age  loan_status
3       EDUCATION          20            0
4       EDUCATION          20            0
9       EDUCATION          20            0
13      EDUCATION          20            0
14      EDUCATION          20            0
...           ...         ...          ...
32576   EDUCATION         123            0
32577     VENTURE         123            0
32578     VENTURE         144            0
32579   EDUCATION         144            0
32580    PERSONAL         144            0

[6534 rows x 3 columns]

In [46]:
print(credito[(credito['loan_status']==1)
              | (credito['cb_person_default_on_file']=='Y')][['loan_intent', 'loan_status', 'cb_person_default_on_file']])

             loan_intent  loan_status cb_person_default_on_file
0                VENTURE            1                         Y
5                VENTURE            0                         Y
10              PERSONAL            1                         N
11               MEDICAL            0                         Y
16              PERSONAL            1                         Y
...                  ...          ...                       ...
32558            MEDICAL            0                         Y
32559            MEDICAL            0                         Y
32561            MEDICAL            0                         Y
32562  DEBTCONSOLIDATION            1                         Y
32565            MEDICAL            1                         N

[10681 rows x 3 columns]

In [47]:
# Agora vou selecionar apenas os empréstimos onde loan_status é diferentes de 1,
# com o sinal de diferença !=

print(credito[credito['loan_status']!=1][['loan_intent', 'loan_status',
                                          'cb_person_default_on_file']])

             loan_intent  loan_status cb_person_default_on_file
1      DEBTCONSOLIDATION            0                         N
2      DEBTCONSOLIDATION            0                         N
3              EDUCATION            0                         N
4              EDUCATION            0                         N
5                VENTURE            0                         Y
...                  ...          ...                       ...
32576          EDUCATION            0                         N
32577            VENTURE            0                         N
32578            VENTURE            0                         N
32579          EDUCATION            0                         N
32580           PERSONAL            0                         N

[25473 rows x 3 columns]

In [48]:
# df[df['col1'].isin([valor1, valor2])]
# Este método é útil para filtrar linhas onde a coluna contém um dos
# valores especificados na lista.

print(credito[credito['person_age'].isin([25])])

       person_age  person_income person_home_ownership  person_emp_length  \
12315          25         108960              MORTGAGE                0.0
12316          25          95000                  RENT                0.0
12317          25         109000              MORTGAGE                9.0
12318          25          99275                  RENT                1.0
12319          25          70000              MORTGAGE                3.0
...           ...            ...                   ...                ...
15347          25          26004              MORTGAGE                3.0
15348          25          41579                  RENT                9.0
15349          25          50000              MORTGAGE                9.0
15350          25          49244                  RENT                3.0
15351          25          35392                  RENT                9.0

           loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
12315         PERSONAL          C      10000          13.57            0
12316  HOMEIMPROVEMENT          A       8600           8.59            0
12317          VENTURE          A      12000           7.51            0
12318         PERSONAL          C      10000          14.65            0
12319          MEDICAL          A       8000           6.99            0
...                ...        ...        ...            ...          ...
15347        EDUCATION          B      10000           9.91            0
15348          VENTURE          C       8000          13.92            0
15349  HOMEIMPROVEMENT          B       8000          10.00            0
15350        EDUCATION          A       8000           8.00            0
15351        EDUCATION          A       6000           7.40            0

       loan_percent_income cb_person_default_on_file  \
12315                 0.09                         N
12316                 0.09                         N
12317                 0.11                         N
12318                 0.10                         Y
12319                 0.11                         N
...                    ...                       ...
15347                 0.38                         N
15348                 0.19                         Y
15349                 0.16                         N
15350                 0.16                         N
15351                 0.17                         N

       cb_person_cred_hist_length
12315                           3
12316                           2
12317                           4
12318                           3
12319                           4
...                           ...
15347                           2
15348                           3
15349                           2
15350                           3
15351                           3

[3037 rows x 12 columns]

In [49]:
print(credito[credito['person_age'].isin([65, 67, 92])])

       person_age  person_income person_home_ownership  person_emp_length  \
32537          65         133000              MORTGAGE                2.0
32538          65         120000              MORTGAGE                0.0
32539          65          45900                  RENT                2.0
32540          65          93000              MORTGAGE               27.0
32541          65          45900                  RENT                2.0
32542          65          46000                  RENT                5.0
32543          65          57996                  RENT                4.0
32544          65          76000                  RENT                3.0
32545          65          76000                  RENT                3.0
32555          67         200000              MORTGAGE                2.0

             loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
32537  DEBTCONSOLIDATION          E      18000            NaN            1
32538           PERSONAL          B      12000          11.48            0
32539           PERSONAL          C      10000            NaN            0
32540           PERSONAL          B      25000           9.99            0
32541          EDUCATION          C      10000            NaN            0
32542            VENTURE          E      10500          16.32            0
32543          EDUCATION          D       3000            NaN            0
32544    HOMEIMPROVEMENT          B      35000          10.99            1
32545          EDUCATION          B      35000          10.99            1
32555           PERSONAL          C       3000          10.28            0

       loan_percent_income cb_person_default_on_file  \
32537                 0.14                         N
32538                 0.10                         N
32539                 0.22                         N
32540                 0.27                         N
32541                 0.22                         Y
32542                 0.23                         Y
32543                 0.05                         N
32544                 0.46                         N
32545                 0.46                         N
32555                 0.01                         N

       cb_person_cred_hist_length
32537                          25
32538                          21
32539                          29
32540                          27
32541                          19
32542                          24
32543                          27
32544                          28
32545                          27
32555                          26

In [50]:
print(credito[(credito['person_age'].isin([65, 67, 92])) &
              (credito['person_home_ownership'].isin(['MORTGAGE']))][['person_age', 'person_home_ownership', 'loan_status']])

       person_age person_home_ownership  loan_status
32537          65              MORTGAGE            1
32538          65              MORTGAGE            0
32540          65              MORTGAGE            0
32555          67              MORTGAGE            0

In [51]:
# Quero criar um banco de dados apenas de pessoas que não
# tem histórico de inadimplência, tomaram um empréstimo muito grande
# em relação à sua renda e possuem um imóvel financiado
# para estudá-lo posteriormente

credito_low_inad = credito[(credito['cb_person_default_on_file']!='Y') &
                            (credito['loan_percent_income']>0.50) &
                            (credito['person_home_ownership']=='MORTGAGE')].reset_index(drop=True).copy()

print(credito_low_inad)

    person_age  person_income person_home_ownership  person_emp_length  \
0           21          41004              MORTGAGE                5.0
1           21          19500              MORTGAGE                0.0
2           22          36000              MORTGAGE                6.0
3           22          47000              MORTGAGE                6.0
4           22          20000              MORTGAGE                0.0
5           23          43600              MORTGAGE                5.0
6           23          47148              MORTGAGE                3.0
7           23          34000              MORTGAGE                7.0
8           23          31000              MORTGAGE                6.0
9           24          44000              MORTGAGE                5.0
10          24          42000              MORTGAGE                8.0
11          24          43300              MORTGAGE                2.0
12          24          37000              MORTGAGE                4.0
13          24          29000              MORTGAGE                1.0
14          24          43300              MORTGAGE                2.0
15          24          42000              MORTGAGE                8.0
16          24          30000              MORTGAGE                8.0
17          24          18000              MORTGAGE                0.0
18          25          32004              MORTGAGE                3.0
19          25           9600              MORTGAGE                1.0
20          25          48000              MORTGAGE                6.0
21          25          46000              MORTGAGE                5.0
22          26          44000              MORTGAGE                3.0
23          26          58000              MORTGAGE                5.0
24          27          54000              MORTGAGE                1.0
25          27          44000              MORTGAGE                3.0
26          27          54000              MORTGAGE                1.0
27          28          60000              MORTGAGE                3.0
28          28          27500              MORTGAGE               13.0
29          29          40000              MORTGAGE               13.0
30          29          40000              MORTGAGE               13.0
31          29          36000              MORTGAGE                2.0
32          29          44000              MORTGAGE               13.0
33          30          35000              MORTGAGE                NaN
34          31          39000              MORTGAGE                5.0
35          33          54000              MORTGAGE                7.0
36          33          26000              MORTGAGE                1.0
37          54          39000              MORTGAGE                4.0

          loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0             VENTURE          B      24250          10.75            0
1           EDUCATION          B      15000           9.64            1
2            PERSONAL          A      18500           7.90            0
3             MEDICAL          B      24000          10.37            1
4            PERSONAL          B      16600           9.76            0
5   DEBTCONSOLIDATION          B      25000            NaN            1
6             MEDICAL          A      25000           7.49            1
7   DEBTCONSOLIDATION          B      19000          11.48            0
8           EDUCATION          B      18500            NaN            0
9   DEBTCONSOLIDATION          D      22800          17.27            1
10            VENTURE          B      22250          11.11            0
11          EDUCATION          B      24000          10.62            0
12            MEDICAL          B      25000          10.08            0
13    HOMEIMPROVEMENT          B      20000          10.62            0
14  DEBTCONSOLIDATION          B      24000          10.62            0
15  DEBTCONSOLIDATION          B      22250          11.11            0
16  DEBTCONSOLIDATION          B      17000          11.99            1
17  DEBTCONSOLIDATION          B      10000          12.18            1
18           PERSONAL          A      22750           6.17            0
19            MEDICAL          C       5500          12.87            1
20          EDUCATION          B      24250          10.25            0
21          EDUCATION          B      23500          10.25            0
22          EDUCATION          A      22500            NaN            1
23            MEDICAL          B      31300          11.71            0
24    HOMEIMPROVEMENT          B      27575            NaN            0
25  DEBTCONSOLIDATION          B      24000           8.88            1
26    HOMEIMPROVEMENT          B      27575            NaN            0
27          EDUCATION          B      35000          10.59            0
28            VENTURE          A      15000           6.54            0
29           PERSONAL          B      25000          11.86            0
30    HOMEIMPROVEMENT          B      25000          11.86            0
31           PERSONAL          D      20000            NaN            0
32            MEDICAL          A      24000           6.91            0
33  DEBTCONSOLIDATION          B      22750          10.62            0
34          EDUCATION          B      22000          11.36            1
35  DEBTCONSOLIDATION          C      32000          15.23            1
36  DEBTCONSOLIDATION          B      15000           9.76            1
37           PERSONAL          B      20000          10.71            0

    loan_percent_income cb_person_default_on_file  cb_person_cred_hist_length
0                  0.59                         N                           2
1                  0.77                         N                           2
2                  0.51                         N                           4
3                  0.51                         N                           4
4                  0.83                         N                           3
5                  0.57                         N                           3
6                  0.53                         N                           3
7                  0.56                         N                           4
8                  0.60                         N                           4
9                  0.52                         N                           3
10                 0.53                         N                           2
11                 0.55                         N                           2
12                 0.68                         N                           2
13                 0.69                         N                           3
14                 0.55                         N                           2
15                 0.53                         N                           3
16                 0.57                         N                           3
17                 0.56                         N                           2
18                 0.71                         N                           4
19                 0.57                         N                           3
20                 0.51                         N                           3
21                 0.51                         N                           4
22                 0.51                         N                           3
23                 0.54                         N                           3
24                 0.51                         N                          10
25                 0.55                         N                           9
26                 0.51                         N                           5
27                 0.58                         N                           6
28                 0.55                         N                          10
29                 0.63                         N                           7
30                 0.63                         N                           6
31                 0.56                         N                           6
32                 0.55                         N                           8
33                 0.65                         N                          10
34                 0.56                         N                           5
35                 0.59                         N                           7
36                 0.58                         N                           6
37                 0.51                         N                          19

CRIAÇÃO E MODIFICAÇÃO DE NOVAS COLUNAS

Utilização de técnicas matemáticas e estatísticas para a criação e modificação dos valores das colunas

In [52]:
# A renda está em valores anuais e eu gostaria de criar uma nova coluna 
# transformando a renda em valores mensais

credito['person_income_m'] = credito['person_income']/12

print(credito[['person_income', 'person_income_m']])

       person_income  person_income_m
0              64000      5333.333333
1              85920      7160.000000
2             115731      9644.250000
3             188004     15667.000000
4              77052      6421.000000
...              ...              ...
32576          80004      6667.000000
32577          78000      6500.000000
32578         250000     20833.333333
32579         200000     16666.666667
32580        6000000    500000.000000

[32581 rows x 2 columns]

In [53]:
# O prazo do empréstimo está em anos e quero transformá-lo em meses

credito['person_emp_length_m'] = credito['person_emp_length'] * 12

print(credito[['person_emp_length', 'person_emp_length_m']])

       person_emp_length  person_emp_length_m
0                    3.0                 36.0
1                    3.0                 36.0
2                    4.0                 48.0
3                    4.0                 48.0
4                    4.0                 48.0
...                  ...                  ...
32576                2.0                 24.0
32577                7.0                 84.0
32578                4.0                 48.0
32579                4.0                 48.0
32580               12.0                144.0

[32581 rows x 2 columns]

In [54]:
# Criação da coluna patrimônio líquido, como a diferença entre
# o valor do empréstimo e o total de renda anual

credito['Pat_Liq'] = credito['person_income'] - credito['loan_amnt']

print(credito[['person_income', 'loan_amnt', 'Pat_Liq']])

       person_income  loan_amnt  Pat_Liq
0              64000      16000    48000
1              85920      12000    73920
2             115731       9625   106106
3             188004       2000   186004
4              77052      24250    52802
...              ...        ...      ...
32576          80004      20400    59604
32577          78000      20000    58000
32578         250000       4800   245200
32579         200000       6000   194000
32580        6000000       5000  5995000

[32581 rows x 3 columns]

In [55]:
# Transformação da taxa de juros anual em mensal

credito['loan_int_rate_m'] = (((1 + credito['loan_int_rate']/100) ** (1/12))-1)*100

print(credito[['loan_int_rate', 'loan_int_rate_m']])

       loan_int_rate  loan_int_rate_m
0              15.31         1.194191
1               8.49         0.681376
2              10.74         0.853748
3               8.59         0.689106
4              11.36         0.900682
...              ...              ...
32576          10.25         0.816485
32577            NaN              NaN
32578          13.57         1.066052
32579          11.86         0.938358
32580          12.73         1.003547

[32581 rows x 2 columns]

FIM